* {
    box-sizing: border-box;
    padding: 5;
    margin: 2;
}

body {
    background-color: black;
    font-family: sans-serif;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #f2f2f2;
    display: grid;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar img {
    margin-top: 17px;
    margin-left: 20px;
    cursor: pointer;
}

.navbar2 {
    width: 100%;
    height: 80px;
    background-color: white;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.navbar2 i {
    cursor: pointer;
}

.section-1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    width: 100%;
    height: 100vh;
}

.section-1__p {
    width: 35%;
}

.section-1__p h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 30px;

}

.section-1__p h5 {
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
}

.section-1__p span {
    display: block;
    color: white;
    margin-bottom: 30px;
}

.section-1__p span a {
    cursor: pointer;
    margin-left: 10px;
    text-decoration: none;
}

.section-1__p button {
    width: 120px;
    height: 45px;
    font-size: 20px;
    border-radius: 20%;
    color: white;
    border: none;
    cursor: pointer;
    background-color: blue;

}

.section-1__img {
    width: 35%;
}

.section-1__img img {
    width: 500px;
    height: 500px;
}

/* ! Section__2____________________________________________________*/

.section-2 {
    display: flex;
}

.section-2__p {
    color: white;
    width: 35%;
    text-align: center;
    font-size: 25px;
}

.section-2__grid {
    gap: 20px;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}


.box {
    width: 245px;
    height: 166px;
    background-color: #333333;
    text-align: center;

}

.box__color {
    width: 245px;
    height: 166px;
    background-color: deeppink;
    text-align: center;
}

.box__color h1,
h5 {
    margin-top: 30px;
    color: white;
}

.box h1,
h5 {

    color: white;
    margin: 30px 25px 0px 25px;
}

.section-2__grid h1 {
    font-size: 40px;
}

/*! Section-3   -----__________________________________________________--______________________________---*/

.section-3 {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.section-3__left h2 {
    color: white;
    margin-bottom: 20px;
}

.section-3__left span {
    color: white;
}

.section-3__left button {
    margin-left: 5px;
    background: none;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.section-3__left button a {
    text-decoration: none;
    color: deeppink;
}

.section-3__mid h1 {
    color: white;
}

.section-3__left {
    width: 25%;
    margin-left: 120px;
}

.section-3__mid {
    width: 40%;
    margin-right: 25px;
    font-size: 17px;
}

.section-3__right {
    width: 35%;
    height: 52%;
    margin-right: 20px;
}


.section-3__right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.section-3__right button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 50px;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    color: white;
}

.section-3__right button img {
    width: 18px;
    height: 18px;
    margin-right: 7px;
}

.section-3__right .button1 {
    background-color: mediumblue;

}

.section-3__right .button2 {
    background-color: deeppink;

}

/*! Section-4 ______________________________________________________________*/

.section-4 {
    margin-top: -60px;
    margin-left: 120px;
    width: 80%;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    gap: 20px;
}

.section-4 .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 251px;
    background-color: white;

}

/*! Section-5_____________________________________________________________________*/


.section-5 {
    display: flex;
    flex-direction: column;
    margin-top: -40px;
}

.men,
.woman {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
}

.section-5 img {
    width: 191px;
    height: 191px;
}

.section-5 h1,
h4,
p {
    color: white;
    padding: 10px;
    letter-spacing: 0.5px;
}

.section-5 p {
    line-height: 25px;
}

.section-5 .content {
    margin-left: 120px;
    margin-right: 200px;
}

.section-5 button {
    border: none;
    border-radius: 10px;
    background-color: blue;
    width: 200px;
    height: 60px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.section-5 button:hover {
    transition: 0.3s;
    background-color: cadetblue;

}

/*! Section-6_____________________________________________________________________*/

.section-6 {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    gap: 40px;
    height: 170vh;
    width: 77%;
    margin-top: 130px;
    margin-left: 150px;
}


.section-6 .box img {
    height: 340px;
    width: 325px;
    cursor: pointer;
    transition: all .5s ease;
}

.section-6 .box img:hover {
    transform: scale(1.04);
}

/*!   Section-7  ____________________________________________________________________________*/

.section-7 {
    display: flex;
    justify-content: space-between;
    margin-top: -220px;
    width: 100%;
    height: 100%;
}

.section-7 h2,
h3 {
    color: white;
}

.section-7 .section {
    margin-left: 150px;
}

.section-7 .paragraphy {
    margin-left: 220px;
    margin-right: 110px;
    font-size: 30px;
}

.section-7 .programs {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    gap: 20px;
    margin-right: 70px;
}

.section-7 .programs div {
    width: 156px;
    height: 134px;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-7 .programs div img {
    width: 70px;
    height: 70px;
}


/*!      Section-8  ________________________________________________________________*/

.section-8 {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
}

.main-1 {
    display: flex;
    margin-bottom: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    margin-left: 120px;
}

.main-1__section h1 {
    color: white;
    font-size: 37px;
    width: 70%;
}

.main-1__section p {
    font-size: 20px;
    width: 80%;
    margin-top: 15px;
}

.main-1__button {
    width: 40%;

}

.main-1__button button {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 60px;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    background-color: deeppink;
    cursor: pointer;
}

.main-1__button button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.main-2 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.main-2__section {
    width: 50%;
    margin-left: 130px;
}

.main-2__section h3 {
    width: 90%;
    font-size: 25px;
}

.main-2__section h2 {
    font-size: 25px;
    margin-top: 60px;
    color: white;
}

.main-2__section p {
    margin-top: -10px;
    color: deeppink;
    font-size: 25px;
}

.main-2__submit {
    margin-right: 100px;
    width: 50%;
    margin-left: 30px;
}

.main-2__submit h1 {
    color: white;
    font-size: 35px;
}

.main-2__submit p {
    font-size: 20px;
    letter-spacing: 1.4px;
    margin-right: 22px;
    line-height: 30px;
    margin-top: 10px;
}

.main-2__submit input {
    width: 380px;
    height: 45px;
    border-radius: 12px;
    border: none;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 20px;
}


.main-2__submit button {
    width: 130px;
    height: 45px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    background-color: deeppink;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 20px;
}

.main-2__submit button:hover,
.main-1__button button:hover {
    opacity: 0.5;
}


.section-9 {
    margin-top: 100px;
    width: 100%;
    height: 35vh;
    background-color: #333333;
    text-align: center;
}

.section-9 p,
span,
a {
    color: white;
    margin: 1.5px;
}

.section-9 p {
    padding: 60px;
}
.section-9 div{
    margin-top: 30px;
}

.section-9 span a:hover{
text-decoration: none;
color: grey;
}